---
const links = [
];
---

<header
  x-data="{ open: false }"
  class="transition"
  :class="{ 'bg-primary-azure dark:bg-primary-creme': open, 'bg-primary-azure dark:bg-primary-creme': !(open) }"
>
  <div
    class="mx-auto flex max-w-2xl items-center justify-between px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8"
  >
  </div>

  <!-- Menu content -->
</header>
