<section class="py-16 font-sans sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Об авторе</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <img
          class="h-auto w-full rounded-2xl"
          width="32"
          height="32"
          src="/assets/logo.png"
          alt="Hero picture"
        />
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          Привет! Я Алиса, эксперт в интерьерной 3D-визуализации уже 8 лет. Мои известные работы:
          офис 1 канала и ресторан “Mosaic” от института современного искусства МОММА. На этом
          мастер-классе я покажу, как грамотно и оптимизировано строить геометрию интерьера, научу
          усложнять простые материалы и ставить объемный живой свет солнечными лучами и покажу все
          секреты своей постобработки.
        </p>
      </div>
    </div>
  </div>
</section>
