<section class="py-16 sm:py-20  text-primary-brown bg-primary-azure">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="text-primary-brown bg-primary-creme flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
    >
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">
          Цена
        </h2>
        <p class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">7 990 ₽</p>
        <p class="text-primary-brown mx-auto max-w-2xl text-lg">
          Доступ сразу после оплаты 
          Нажимай кнопку ниже и создавай работу, за которую не стыдно!
        </p>
      </div>
      <a
        href="https://payform.ru/kl6tutz/"
        class="text-primary-azure hover:text-primary-brown hover:bg-primary-950 bg-primary-brown focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-creme inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Оплатить
      </a>
    </div>
  </div>
</section>
