---
const images = [
'/assets/h1.jpg', 
  '/assets/h2.jpg', 
  '/assets/h3.jpg', 
  '/assets/h4.jpg', 
  '/assets/h5.jpg', 
  '/assets/h6.jpg', 
];
---

<div class="overflow-x-auto flex space-x-4 py-8">
    <!-- Horizontal Scroll -->
    <div class="flex flex-nowrap gap-4">
      {images.map((image) => (
        <div class="flex-shrink-0 w-full sm:w-64 lg:w-96 h-48 sm:h-64 lg:h-80 bg-gray-300 rounded-lg overflow-hidden">
          <img src={image} alt="image" class="w-full h-full object-cover"/>
        </div>
      ))}
    </div>
  </div>
